@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  border: 0px solid rgb(57, 54, 54);
}

#root {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden;
    overflow-y: hidden; */
}
:root {
  --color: #118bee;
  --hover-brightness: 1.2;
}
h1 {
  color: var(--color);
}
h1:active {
  /* Darken on click */
  filter: brightness(var(--hover-brightness));
}

/* Navbar.css */

.table-of-contents {
  list-style-type: none;
  padding: 5px;
  position: absolute;
  top: 64%;
  left: 0;
  background: linear-gradient(to right, #ff0000, #0000ff);
  transform: translateX(2%);
}

.table-of-contents li {
  padding: 10px 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.table-of-contents li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

